<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tmsystem.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TM System Mobile</name>
    <description>TM System Mobile App for Packaging Management</description>
    <author email="tmsystem@company.com" href="https://tmsystem.com">
        TM System Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
